<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <form th:action="@{/registration}" method="post" enctype="multipart/form-data" th:object="${user}">

        <label for="firstname">Firstname:
            <input id="firstname" type="text" name="firstname" th:value="*{firstname}">
        </label><br>

        <label for="lastname">Lastname:
            <input id="lastname" type="text" name="lastname" th:value="*{lastname}">
        </label><br>

        <label for="birthDate">Birthdate:
            <input id="birthDate" name="birthDate" type="text" th:value="*{birthDate}">
        </label><br>

        <label for="username">Username:
            <input id="username" type="email" name="username" th:value="*{username}">
        </label><br>

        <label for="password">Password:
            <input id="password" type="password" name="password" th:value="*{rawPassword}">
        </label><br>

        <label for="role">Role:
            <select id="role" >
                <option th:each="role : ${roles}" th:value="${role.name()}"
                        th:selected="${role.name() == role.name()}" th:text="${role.name()}">Role</option>
            </select>
        </label>

        <label for="image">Chose avatar:
            <input id="image" type="file" name="image">
        </label><br>

        <input type="submit" value="register">
    </form>
</body>
</html>