<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="/css/avatar-border.css">
</head>
<body>
    <div>
       <div style="display: flex; justify-content: space-between; align-items: center;">
           <div th:insert="~{fragment :: logout}"></div>
            <div>
                <div>
                    <p th:text="${user.username}">Username</p><br>
                </div>

            </div>
           <div>
               <a th:href="@{'/users/' + ${user.id} + '/edit'}">Update</a>
           </div>
       </div><br/>

        <!--<img id="avatar" th:data-user-id="${user.id}" alt="Avatar" width="100">
        <script th:src="@{/js/loadAvatar.js}"></script> !-->

        <div style="display: flex; justify-content: center; margin-top: 50px;">
            <img th:src="@{'/api/v1/users/' + ${user.getId()} + '/avatar'}" class="circle-avatar" alt="Avatar">
        </div>


        <div style="text-align: center;">
            <h3><p  th:text= "|${user.firstname} ${user.lastname}|">Full name</p></h3><br>
            <p> Birthdate: <span th:text="${user.birthDate}">Birthdate</span></p>
        </div>

    </div>

</body>
</html>