<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <div>

       <div style="display: flex;">
           <div style="width: 50%;" th:insert="~{fragment :: logout}"></div>

           <div style="width: 50%;">
               <form id="update" th:action="@{'/user/' + ${user.getId()} + '/update'}"  method="get">
                   <button form="update" name="user" th:value="${user}" type="submit" >update</button>
               </form>
           </div>
       </div>


        <!--<img id="avatar" th:data-user-id="${user.id}" alt="Avatar" width="100">
        <script th:src="@{/js/loadAvatar.js}"></script> !-->

        <img th:src="@{'/api/v1/users/' + ${user.getId()} + '/avatar'}"  alt="Avatar" width="100">



        <div>
            <p th:text="${user.username}">Username</p><br>
            <h2><p th:text="|${user.firstname} ${user.lastname}|">Full name</p></h2><br>
            <p> Birthdate: <span th:text="${user.birthDate}">Birthdate</span></p>
        </div>

    </div>

</body>
</html>